body {
  // Colours
  --skyBlue: rgb(202, 227, 255);
  --darkGrey: rgb(66, 66, 66);
  --lightGrey2: rgb(208, 208, 215);
  --lightGrey: rgb(233, 233, 237);

  // Fonts
  --serifFont: "Roboto Slab", serif;

  --h1FZ: 40px;
  --bodyFZ: 16px;

  // Widths
  --sectionGap: 15px;
}
